
body{
    background-image: url("background.jpg");
    font-family: "Comic Sans MS";
    font-size: 100%;
    background-size: 100%;
    
    /*background-color: white;
    margin: 0px;
    font-size: 15px;
    padding-left: 10px;*/
  }
.histoire {
    /*background-color: bisque;
    border-radius: 20px;
    padding:10px;
    margin-top: 20px;*/
    filter: opacity(60%);
    background-color: deeppink;
    border-radius: 10px;
    border: 4px double black;
    color: #eeeeee;
    text-align: center;
    padding: 20px;
    /*width: 200px;*/
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5%;
}

h2{
    text-align: center;
    color: blueviolet;
    padding-bottom: 20px;
}
.bouton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
#choix{
    /*padding: 30px;*/
    filter: opacity(60%);
    display: inline-block;
    background-color: deeppink;
    border-radius: 10px;
    border: 4px double black;
    color: #eeeeee;
    text-align: center;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 5px;
}
button {
    cursor: pointer;
    background-color: deeppink;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    
}
button:hover{
    border : 3px solid black;
    text-decoration: underline;
    
}


img{
    width: 40px;
    cursor:pointer;
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px;
}

